@import "../assets/styles/variables";
@import "../assets/styles/mixins";

/* Hero - section */
.hero {
  &__wrapper {
    position: relative;
    padding: 100px 0 100px 100px;
    border-radius: 40px;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__content {
    max-width: 45%;
  }

  &__title {
    margin-bottom: 41px;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.05;
    color: $text-light;
  }

  &__descr {
    margin-bottom: 40px;
    line-height: 1.5;
    color: $text-light;
  }

  &__btn {
    position: relative;
    padding: 20px 30px;
    justify-content: center;
    max-width: 200px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    color: $text-dark;
    background-color: $background-body;
    border-radius: 40px;

    &-content {
      margin-right: -20px;
      transition: margin-right 0.3s ease;
    }

    &-img {
      width: 20px;
      height: 20px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    @include hover-supported {
      &:hover {
        & .hero__btn-content {
          margin-right: 8px;
        }

        & .hero__btn-img {
          opacity: 1;
        }
      }
    }
  }
}

/* Coffee - section */
.coffee {
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__wrapper {
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    gap: $gap;
  }

  &__prev,
  &__next {
    flex-shrink: 0;
  }

  &__prev {
    padding-left: 4px;
  }

  &__next {
    padding-right: 4px;
  }

  &__btn {
    & svg {
      transition: fill 0.3s ease;

      & path {
        transition: stroke 0.3s ease;
      }
    }

    @include hover-supported {
      &:hover svg {
        fill: $background-container;

        & path {
          stroke: $text-light;
        }
      }
    }
  }

  &__slider {
    max-width: 35.3%;
    margin: 0 auto;
    overflow: hidden;

    &-wrapper {
      position: relative;
      left: 0;
      width: 100%;
      transition: all 1s ease-in-out;
    }
  }

  &__content {
    flex: 0 0 100%;
  }

  &__image {
    margin-bottom: 17px;
  }


  &__info {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  &__subtitle {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
  }

  &__descr {
    line-height: 1.5;
  }

  &__price {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
  }

  .pagination {
    justify-content: center;
    align-items: center;
    gap: 12px;

    &__line {
      width: 40px;
      height: 4px;
      background-color: $border-light;
      border-radius: $main-gap;

      &--active {
        background-color: $border-dark;
      }
    }
  }
}

/* About - section */
.about {
  $offsets: 1;

  &__content {
    gap: $gap;
    flex-wrap: wrap;
  }

  &__column {
    width: calc((100% - (#{$gap} * #{$offsets})) / (#{$offsets} + 1));
    flex: 1;
    flex-direction: column;
    gap: 40px;
  }

  &__items {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @include hover-supported {
      &:hover .about__img {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &--big {
      min-height: 590px;
    }

    &--small {
      min-height: 430px;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 0.3s ease;
  }
}

/* Application - section */
.application {
  $offsets: 1;

  &__wrapper {
    gap: $main-gap;
    flex-wrap: wrap;
  }

  &__content {
    padding: 144px 0;
    width: calc((100% - (#{$main-gap} * #{$offsets})) / (#{$offsets} + 1));
  }

  &__descr {
    margin-bottom: 40px;
    line-height: 1.5;
  }

  &__buttons {
    gap: 20px;
  }

  &__btn {
    padding: 12px 20px;
    min-width: 200px;
    border: 1px solid $border-dark;
    border-radius: $main-gap;
    transition: background-color 0.3s ease;

    &--info {
      flex-direction: column;
      align-items: flex-start;
    }

    @include hover-supported {
      &:hover {
        background-color: $background-container;

        & .application__icon path {
          fill: $text-light;
        }

        & .buttons span {
          color: $text-light;
        }
      }
    }
  }

  &__icon {
    margin-right: 8px;

    & svg path {
      transition: fill 0.3s ease;
    }
  }

  .buttons {
    & span {
      transition: color 0.3 ease;
    }

    &__availiable {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.4;
      color: $text-dark;
    }

    &__platform {
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      color: $text-dark;
    }
  }

  &__bg {
    width: calc((100% - (#{$main-gap} * #{$offsets})) / (#{$offsets} + 1));
    background-image: url("../assets/images/mobile-screens.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
