$font-family: "Inter", sans-serif;
$gap: 40px;
$main-gap: 100px;
$main-border: 100px;
$text-dark: #403f3d;
$text-light: #e1d4c9;
$text-accent: #b0907a;
$background-body: #e1d4c9;
$background-container: #665f55;
$background-backdrop: rgba(64, 63, 61, 0.8);
$border-light: #c1b6ad;
$border-dark: #665f55;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

$breakpoint-lg: 992px;
$breakpoint-md: 767px;
$breakpoint-sm-anc: 600px;
$breakpoint-sm: 576px;
$breakpoint-xs: 480px;
$breakpoint-xxs: 390px;
