@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold-Italic.woff2") format("woff2"), url("../fonts/Inter-SemiBold-Italic.woff") format("woff");
}
html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #403f3d;
  background-color: #e1d4c9;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;
}

.section-offset {
  padding-top: 100px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.section-title {
  margin-bottom: 40px;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
}

.icon-center {
  vertical-align: middle;
}

.font-italic {
  font-style: italic;
  color: #b0907a;
}

body.hidden {
  overflow: hidden;
}

/* HEADER */
.header {
  padding: 20px 0;
}
.header.open .header__line:first-child {
  transform: translateY(20px) rotate(45deg);
}
.header.open .header__line:nth-child(2) {
  transform: translateY(20px) rotate(-45deg);
}
.header__container {
  align-items: center;
  justify-content: space-between;
}
.header__item {
  margin-bottom: 4px;
  gap: 40px;
}
.header__items {
  align-items: center;
}
.header__link {
  position: relative;
  font-weight: 600;
  line-height: 1.5;
}
.header__link--none {
  display: none;
  padding-right: 48px;
  background-image: url("../images/coffee-cup.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.header__menu {
  position: relative;
  margin-bottom: 4px;
  align-items: center;
}
.header__menu span {
  margin-right: 8px;
  font-weight: 600;
}
.header__btn {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid #665f55;
  border-radius: 100px;
}
.header__line {
  position: absolute;
  left: 13px;
  width: 18px;
  height: 1.5px;
  background-color: #403f3d;
  transition: transform 0.5s;
}
.header__line:first-child {
  transform: translateY(16px);
}
.header__line:nth-child(2) {
  transform: translateY(24px);
}

/* general-hover */
.general-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #403f3d;
  transition: transform 0.3s ease;
}
.general-hover__scale::after {
  transform: scaleX(0);
}
@media (hover: hover) and (min-width: 992px) {
  .general-hover__scale:hover::after {
    transform: scaleX(1);
  }
}

/*Preloader*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(225, 212, 201, 0.9);
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  z-index: 1050;
}
.preloader__circle {
  width: 75px;
  height: 75px;
  border: 7px solid #fff;
  border-radius: 50%;
  border-top-color: #b0907a;
  animation: 1s spin infinite;
}

.done {
  opacity: 0;
  visibility: hidden;
}

/* FOOTER */
.footer {
  margin-bottom: 40px;
}
.footer__wrapper {
  padding: 100px;
  gap: 100px;
  flex-wrap: wrap;
  background-color: #665f55;
  border-radius: 40px;
}
.footer__social {
  flex-direction: column;
  width: calc((100% - 100px * 1) / (1 + 1));
}
.footer__title {
  color: #e1d4c9;
}
.footer__address {
  padding-top: 32px;
  width: calc((100% - 100px * 1) / (1 + 1));
  color: #e1d4c9;
}
.footer__subtitle {
  margin-bottom: 40px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

.social {
  gap: 12px;
}
.social__items {
  width: 60px;
  height: 60px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}
@media (hover: hover) and (min-width: 992px) {
  .social__items:hover {
    background-color: #e1d4c9;
  }
  .social__items:hover .social__link svg path {
    stroke: #403f3d;
  }
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.social__link svg {
  transition: fill 0.3s ease;
}
.social__link svg path {
  transition: stroke 0.3s ease;
}

.address__item {
  flex-direction: column;
  gap: 20px;
}
.address__items {
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}
.address__link {
  position: relative;
  padding-left: 28px;
  background-position: left 0;
  background-size: 20px;
  background-repeat: no-repeat;
}
.address__link--location {
  background-image: url("../images/location.svg");
}
.address__link--number {
  background-image: url("../images/phone.svg");
}
.address__link--hours {
  background-image: url("../images/clock.svg");
  cursor: default;
}
.address__link.general-hover::after {
  background-color: #e1d4c9;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 767px;
  }
  .header.open .nav {
    transform: translateX(100%);
  }
  .header__nav {
    position: absolute;
    left: -100%;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: #e1d4c9;
    transition: transform 0.5s;
    z-index: 1000;
  }
  .header__menu {
    display: none;
  }
  .header__btn {
    display: flex;
  }
  .header__item {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .header__link {
    font-size: 3.2rem;
    line-height: 1.25;
  }
  .header__link--none {
    display: inline-flex;
  }
  .footer__wrapper {
    padding: 100px 60px 102px;
    gap: 70px;
  }
  .footer__social, .footer__address {
    width: calc((100% - 100px * 0) / (0 + 1));
  }
}
@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .section-title {
    font-size: 3.5rem;
  }
  .footer__wrapper {
    padding: 60px 0 60px 30px;
    gap: 55px;
  }
}
@media only screen and (max-width: 480px) {
  .section-title {
    font-size: 3.2rem;
  }
  .container {
    padding: 0 16px;
  }
  .footer__wrapper {
    padding: 60px 0 64px 18px;
    gap: 40px;
  }
  .footer__address {
    padding-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
