.products__top {
  margin: 0 auto;
  max-width: 56%;
}
.products__title {
  text-align: center;
}
.products__tab {
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.products__btn {
  padding: 7px 18px 7px 8px;
  align-items: center;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
}
@media (hover: hover) and (min-width: 992px) {
  .products__btn:hover {
    background-color: #665f55;
  }
  .products__btn:hover .products__icon {
    background-color: #e1d4c9;
  }
  .products__btn:hover .products__text {
    color: #e1d4c9;
  }
}
.products__btn--active {
  background-color: #665f55;
}
.products__btn--active .products__icon {
  background-color: #e1d4c9;
}
.products__btn--active .products__text {
  color: #e1d4c9;
}
.products__text {
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  transition: color 0.3s ease-in;
}
.products__icon {
  margin-right: 8px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #c1b6ad;
  transition: background-color 0.3s ease-in;
}
.products__item {
  padding-top: 39px;
  gap: 40px;
  flex-wrap: wrap;
}
.products__items {
  width: calc((100% - 40px * 3) / (3 + 1));
  overflow: hidden;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  transition: transform 0.3s ease;
}
@media (hover: hover) and (min-width: 992px) {
  .products__items:hover .products__image img {
    transform: translate(-50%, -50%) scale(1);
  }
}
.products__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.products__image {
  position: relative;
  min-height: 309px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.products__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 0.3s ease;
}
.products__info {
  padding: 20px 19px 19px;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  color: #403f3d;
}
.products__subtitle, .products__price {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}
.products__descr {
  line-height: 1.5;
}
.products__price {
  margin-top: auto;
}
.products__show-more {
  margin: 0 auto;
  display: none;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #665f55;
  border-radius: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .products__items {
    width: calc((100% - 40px * 2) / (2 + 1));
  }
}
@media only screen and (max-width: 992px) {
  .products__top {
    margin: 0 auto;
    max-width: 97%;
  }
  .products__item {
    margin-bottom: 40px;
    padding: 0 14px;
    padding-top: 39px;
  }
  .products__items {
    width: calc((100% - 40px * 1) / (1 + 1));
  }
  .products__items:nth-child(n+5) {
    display: none;
  }
  .products__items:nth-child(n+5).visibles {
    display: block;
  }
  .products__info {
    padding: 20px 19px 19px;
    min-height: 195px;
  }
  .products__show-more {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .products__items {
    width: calc((100% - 40px * 0) / (0 + 1));
  }
  .products__image {
    min-height: 466px;
  }
}
@media only screen and (max-width: 480px) {
  .products__item {
    padding: 0 19px;
    padding-top: 39px;
  }
}
@media only screen and (max-width: 390px) {
  .products__image {
    min-height: 309px;
  }
}

/*# sourceMappingURL=styles.css.map */
